.ct-code-b-yellow {
	font-family: monospace;
	font-weight: bold;
	color: yellow;
}

.ct-keywords-color {
	font-family: monospace;
	font-weight: bold;
	color: rgb(132, 4, 99);
}

.ct-variables-color {
	font-family: monospace;
	color: rgb(147, 89, 89);
}

.ct-blue-color {
	color: blue;
}

.ct-box-main {
	margin: 10px;
	padding: 10px;
}

.ct-demo-heading {
	background: #f67f34 none repeat scroll 0 0;
	border-radius: 10px;
	font-size: 18px;
	position: relative;
	z-index: 9999999;
}

.introjs-tooltiptext {
	min-height: 25px !important;
}

.typingCursor::after {
	width: 0 !important;
}

.visibility-hidden {
	visibility: hidden !important;
}

.opacity00 {
	opacity: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.introjs-tooltip {
	padding: 5px !important;
}

.introjs-tooltip>ol, ul {
	margin-bottom: 0;
	margin-left: -15px;
}

.introjs-tooltiptext {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}

.introjs-tooltipbuttons {
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

.introjs-tooltiptext, .introjs-tooltipbuttons {
	background-color: #003399;
	color: white;
	padding: 2px;
}

a:focus, a:hover {
	text-decoration: none !important;
}

.introjs-button {
	margin: 10px 2px 2px !important;
	padding: 3px !important;
	background-image: none !important;
	text-shadow: none !important;
	color: white !important;
}

.introjs-prevbutton, .introjs-nextbutton, .introjs-skipbutton {
	border-radius: 3px !important;
}

.introjs-prevbutton {
	background-color: #5bc0de !important;
}

.introjs-nextbutton {
	background-color: green !important;
}

.introjs-skipbutton {
	margin-right: 15px !important;
	background-color: orange !important;
}

@keyframes ellipsis {
	from {
		width:0;
		margin-right: 0;
	}
	to {
		width: 40px;
		margin-right: -40px;
	}
}

.loading::after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
	animation: ellipsis 1s infinite steps(4);
	content: "…";
}

.popover-content {
	background-color: #003399;
	border-radius: 4px;
	color: white;
	font-size: 12px;
	margin: 4px;
	padding: 5px;
}

.popover {
	width: -moz-max-content;
}

.tooltip {
	width: -moz-max-content;
}

.output-console {
	border-radius: 8px !important;
	overflow: auto;
	margin: 30px 10px 10px 10px;
}

.output-console-title-bar {
	background-image: linear-gradient(#e8e8e8, #bcbbbc);
	padding: 2px 0;
	text-align: center;
}

.output-console-body {
	background-color: black;
	padding-left: 20px;
	color: #f0f0f0;
	font-family: monospace;
	font-size: 10px;
	white-space: pre;
	overflow-y: auto;
}
.btn-restart {
	background-color: hsl(285, 100%, 30%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf00ff", endColorstr="#720099");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bf00ff), to(#720099));
	background-image: -moz-linear-gradient(top, #bf00ff, #720099);
	background-image: -ms-linear-gradient(top, #bf00ff, #720099);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bf00ff), color-stop(100%, #720099));
	background-image: -webkit-linear-gradient(top, #bf00ff, #720099);
	background-image: -o-linear-gradient(top, #bf00ff, #720099);
	background-image: linear-gradient(#bf00ff, #720099);
	border-color: #720099 #720099 hsl(285, 100%, 25%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}
.margin-top-20 {
	margin-top: 20px;
}
.btn-warning {
	background: linear-gradient(0deg, #E78B07 30%, rgb(255, 184, 86) 70%)
}